<template>
  <q-page id="addSelect">
    <q-toolbar class="text-dark bg-transparent">
      <q-toolbar-title>Add Route</q-toolbar-title>
      <q-btn to="route/saved-routes" flat round dense icon="favorite" />
    </q-toolbar>

    <q-scroll-area class="q-pa-md form-style">
      <div class="text-h6 q-pb-md">Save your favorite route!</div>
      <span class="text-body1 q-pt-md">Pick a name for this route:</span>

      <q-input label="Name" outlined stack-label>
        <template v-slot:append>
          <q-icon name="close" />
        </template>
      </q-input>

      <div class="text-body1 q-pt-md">Save your favorite route!</div>

      <q-input label="Form" outlined stack-label>
        <template v-slot:append>
          <q-icon name="close" />
        </template>
      </q-input>
      <q-input class="q-pt-md" label="To" outlined stack-label>
        <template v-slot:append>
          <q-icon name="close" />
        </template>
      </q-input>
      <div class="q-pt-md">
        <q-btn
          class="full-width"
          size="lg"
          color="black"
          label="Save route"
        />
      </div>
    </q-scroll-area>
  </q-page>
</template>
  
  <script setup></script>
  
  <style lang="scss">
#addSelect {
  .form-style {
    margin: 0 auto;
    height: calc(100vh - 180px);
    max-width: 500px;
  }
}
</style>