<template>
  <q-page id="routeSelect">
    <q-toolbar class="text-dark bg-transparent">
      <q-toolbar-title>Route</q-toolbar-title>
      <q-btn to="route/saved-routes" flat round dense icon="favorite" />
    </q-toolbar>
    <div class="q-pa-md form-style">
      <div class="text-h6 q-pb-md">Where would you like to go?</div>
      <q-input label="Form" outlined stack-label>
        <template v-slot:append>
            <q-icon name="close" />
        </template>
      </q-input>
      <q-input class="q-pt-md" label="To" outlined stack-label>
        <template v-slot:append>
            <q-icon name="close" />
        </template>
      </q-input>
      <div class="q-pt-md">
        <q-btn class="full-width" size="lg" color="black" label="Search" />
      </div>
    </div>
  </q-page>
</template>

<script setup></script>

<style lang="scss">
#routeSelect {
  .form-style {
    margin: 0 auto;
    height: calc(100vh - 180px);
    max-width: 500px;
  }
}
</style>