<template>
    <q-page id="savedSelect">
      <q-toolbar class="text-dark bg-transparent">
        <q-toolbar-title>Saved Route</q-toolbar-title>
        <q-btn to="route/saved-routes" flat round dense icon="add" />
      </q-toolbar>
    </q-page>
</template>

<script setup></script>

<style lang="scss"></style>