/* app global scss */

$app-background-color: #181d20;
$app-text-color: #c9c6b3;
$app-text-small: .7rem;

.app-background {
  background-color: $app-background-color;
}

.app-text {
    color: $app-text-color;
}

.small-btn {
  width: "flex";
  font-size: $app-text-small;
  color: $app-text-color;
  background-color: $app-background-color;
}
