<template>
  <div>
    <p>LOGIN</p>
    <!-- Some input or event that sets the shared variable -->
    <q-btn label="Login" @click="setLoggedUser" class="small-btn"/>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import { mapActions } from 'vuex'

export default defineComponent({
  name: 'App',
  data () {
    return {
      inputValue: true
    }
  },
  methods: {
    ...mapActions(['setLoggedUser']),
    setLoggedUser (inputValue) {
      this.inputValue = inputValue
    }
  }
})
</script>
