<template>
  <q-layout view='lHh Lpr lFf' class="app-background app-text">
    <q-header>
      <q-toolbar class="app-background app-text">
        <q-btn flat dense round icon='menu' @click='toggleLeftDrawer' />
        <q-toolbar-title></q-toolbar-title>
        <div v-if="inputValue"></div>
        <q-btn flat dense round icon='person' @click='toggleLeftDrawer' />
      </q-toolbar>
    </q-header>

    <q-drawer v-model='leftDrawerOpen' show-if-above class="app-background app-text">
      <q-list>
        <q-item-label header>
          <div class="row items-center">
            <q-btn flat dense round icon='home' to="/" />
            Dev Team Management
          </div>
        </q-item-label>

        <EssentialLink
          v-for='link in essentialLinks'
          :key='link.title'
          v-bind='link'
        />
      </q-list>
    </q-drawer>

    <q-page-container class="app-background app-text">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import EssentialLink from 'components/EssentialLink.vue'

const linksList = [
  {
    title: 'Production',
    caption: 'Performed tasks in tools',
    icon: 'insights',
    route: 'production'
  },
  {
    title: 'Projects',
    caption: 'Projects under development',
    icon: 'schema',
    route: 'projects'
  },
  {
    title: 'Team',
    caption: 'Development team',
    icon: 'groups',
    route: 'team'
  },
  {
    title: 'Configuration',
    caption: 'App configuration',
    icon: 'settings',
    route: 'configuration'
  }
]

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
