<template>
  <q-page id="registrationPage">
    <q-toolbar class="text-dark bg-transparent">
      <q-toolbar-title>Register</q-toolbar-title>
    </q-toolbar>
    <q-scroll-area class="form-style">
      <div class="q-pa-md q-gutter-md">
        <q-input outlined stack-label label="Name">
          <template v-slot:append>
            <q-icon name="close" />
          </template>
        </q-input>

        <q-input outlined stack-label label="email">
          <template v-slot:append>
            <q-icon name="close" />
          </template>
        </q-input>

        <q-input outlined stack-label label="Password">
          <template v-slot:append>
            <q-icon name="close" />
          </template>
        </q-input>

        <q-input outlined stack-label label="Confirm password">
          <template v-slot:append>
            <q-icon name="close" />
          </template>
        </q-input>

        <div>
          <q-btn push color="dark" class="full-width" label="Register"></q-btn>
        </div>
      </div>
    </q-scroll-area>
  </q-page>
</template>

<script setup></script>

<style lang="scss">
#registrationPage {
  .form-style {
    margin: 0 auto;
    height: calc(100vh - 180px);
    max-width: 500px;
  }
}
</style>