<template>
  <q-page class="flex flex-top">
    <div class="justify-center full-height full-width text-center text-h5 text-bold">
      <p>
        <br>
        <img src="~assets/Hildinar Logo.png" width="100"/>
        <br>
      </p>
      <p>DEV</p>
      <p>TAEM</p>
      <p>MANAGEMENT</p>
    </div>
    <div class="justify-center full-height full-width text-center ">
      <p>
        Don't have a account?
        <br>
        <q-btn to="account" class="small-btn" label="Sign up here"/>
        <br>
        <br>
        Forgot your password?
        <br>
        <q-btn to="account" class="small-btn" label="Recover Password"/>
      </p>
    </div>
  </q-page>
</template>

<script>
</script>

<!-- <style>
  .bg-image {
    background-image: url("../assets/starry sky 2.gif");
    background-repeat: no-repeat;
    background-size: contain;
  }
</style> -->
