<template>
  <q-page class="flex flex-top">
    <div class="q-pa-md bg-image">
      <q-table
        title="Projects"
        :rows="projects"
        :columns="columns"
        row-key="name"
      >
        <template v-slot:top>
          <span class="text-h5">Projects</span>
          <q-btn icon="add" color="primary" size="sm" dense :to="{ name: 'formProject'}"/>
        </template>
        <template v-slot:body-cell-actions="props">
          <q-td :props="props" class="q-gutter-sm">
            <q-btn icon="edit" dense color="info" size="sm" @click="handleEditProject(props.row.id)" />
            <q-btn icon="delete" dense color="negative" size="sm" @click="handleDeleteProject(props.row.id)" />
          </q-td>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref, onMounted } from 'vue'
import projectsService from 'src/services/Projects'
import { useQuasar } from 'quasar'
import { useRouter } from 'vue-router'

export default defineComponent({
  name: 'IndexPage',
  setup () {
    const { list, remove } = projectsService()
    const $q = useQuasar()
    const router = useRouter()
    const projects = ref([])
    const columns = [
      { name: 'uuid', field: 'uuid', label: 'UUID', sortable: true, align: 'left' },
      { name: 'id', field: 'id', label: 'ID in tool', sortable: true, align: 'left' },
      { name: 'key', field: 'key', label: 'Key in tool', sortable: true, align: 'left' },
      { name: 'tool', field: 'tool', label: 'Management tool', sortable: true, align: 'left' },
      { name: 'name', field: 'name', label: 'Project under development', sortable: true, align: 'left' },
      { name: 'parent', field: 'parent', label: 'Parent project', sortable: true, align: 'left' },
      { name: 'last_read_date', field: 'last_read_date', label: 'Last completed task', sortable: true, align: 'left' },
      { name: 'actions', field: 'actions', label: 'Actions', align: 'right' }
    ]

    onMounted(() => {
      getProjects()
    })

    const getProjects = async () => {
      try {
        const data = await list()
        projects.value = data
        return data
      } catch (error) {
        console.log(error)
      }
    }

    const handleDeleteProject = async (id) => {
      try {
        $q.dialog({
          title: 'Delete',
          message: 'confirm deletion?',
          cancel: true,
          persistent: true
        }).onOk(async () => {
          await remove(id)
          $q.notify({ message: 'Successfully removed!', icon: 'check', color: 'positive' })
          getProjects()
        })
      } catch (error) {
        $q.notify({ message: 'Error removing project!', icon: 'error', color: 'negative' })
      }
    }

    const handleEditProject = async (id) => {
      router.push({ name: 'formProject', params: { id } })
    }

    return {
      columns,
      handleDeleteProject,
      handleEditProject,
      projects
    }
  }

})
</script>

<style>
  .bg-image {
    background-image: url("../assets/starry sky 2.gif");
    background-repeat: no-repeat;
    background-size: contain;
  }
</style>
