<template>
  <q-page padding>
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="row q-col-gutter-sm"
    >
      <q-input
        outlined
        v-model="form.tool"
        label="Type a management tool"
        hint=""
        lazy-rules
        class="col-lg-6 col-xs-12"
        :rules="[ val => val && val.length > 0 || 'Please, type a management tool.']"
      />
      <q-input
        outlined
        v-model="form.name"
        label="Type a project name"
        hint=""
        lazy-rules
        class="col-lg-6 col-xs-12"
        :rules="[ val => val && val.length > 0 || 'Please, type a project name.']"
      />
      <q-input
        outlined
        v-model="form.parent"
        label="Type a project parent"
        hint=""
        lazy-rules
        class="col-lg-6 col-xs-12"
        :rules="[ val => val && val.length > 0 || 'Please, type a project parent.']"
      />
      <div class="q-pa-sm" style="max-width: 300px">
        <q-input
          outlined
          v-model="form.last_read_date"
          label="Last update date"
        >
          <template v-slot:prepend>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                <q-date v-model="form.last_read_date" mask="DD-MM-YYYY HH:mm">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>

          <template v-slot:append>
            <q-icon name="access_time" class="cursor-pointer">
              <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                <q-time v-model="form.last_read_date" mask="DD-MM-YYYY HH:mm" format24h>
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-time>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
      <div class="col-12 q-gutter-sm">
        <q-btn
          type="submit"
          label="Save"
          icon="save"
          class="float-right"
          color="primary"
          size="sm"
        />
        <q-btn
          label="Cancel"
          icon="cancel"
          class="float-right"
          color="white"
          text-color="primary"
          size="sm"
          :to="{ name: 'home' }"
        />
      </div>
    </q-form>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue'
import projectsService from 'src/services/Projects'
import { useQuasar } from 'quasar'
import { useRouter } from 'vue-router'

export default defineComponent({
  name: 'FormProject',
  setup () {
    const { post } = projectsService()
    const $q = useQuasar()
    const router = useRouter()
    const form = ref({
      uuid: '',
      id: '',
      key: '',
      tool: '',
      name: '',
      parent: '',
      last_read_date: ''
    })

    const onSubmit = async () => {
      try {
        await post(form.value)
        $q.notify({ message: 'Project saved!', icon: 'check', color: 'positive' })
        router.push({ name: 'home' })
      } catch (error) {
        console.log(error)
      }
    }
    return {
      form,
      onSubmit
    }
  }
})
</script>
