<template>
  <q-layout>
      <!-- <q-parallax>
      <template v-slot:media>
        <img src="~/assets/starry sky 2.gif">
      </template>   -->

      <q-header class="text-dark bg-transparent">
        <q-toolbar>
          <q-toolbar-title>Dev Team Management</q-toolbar-title>
          <q-btn icon="login" size="sm" flat dense outline round />
        </q-toolbar>
      </q-header>

      <q-page-container>
        <router-view />
      </q-page-container>

      <q-footer class="text-dark bg-transparent">
        <q-tabs v-model="tab">
          <q-tab name="/map" label="Map" icon="explore" />
          <q-tab name="/route" label="Route" icon="directions" />
          <q-tab name="/auth" label="Auth" icon="login" />
        </q-tabs>
      </q-footer>
    <!-- </q-parallax> -->
    </q-layout>
</template>

<script setup>
</script>
